* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cornflowerblue;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    padding: 30px;
    box-shadow: 0 7px 16px -3px rgba(0, 0, 0, 0.5);
    background: #bc3220;
    background: -webkit-gradient(left top, right top, color-stop(0%, #bc3220), color-stop(29%, #db4a37), color-stop(50%, #db4a37), color-stop(71%, #db4a37), color-stop(100%, #bc3220));
    background: -webkit-linear-gradient(left, #bc3220 0%, #db4a37 29%, #db4a37 50%, #db4a37 71%, #bc3220 100%);
    background: linear-gradient(to right, #bc3220 0%, #db4a37 29%, #db4a37 50%, #db4a37 71%, #bc3220 100%);
    border-radius: 5px;
}
h2 {
    color: #fff;
}
button {
    border-radius: 15px;
    border: none;
    padding: 10px 30px;
    background: #ffbf00;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffbf00), color-stop(100%, #fa9f17));
    background: -webkit-linear-gradient(top, #ffbf00 0%, #fa9f17 100%);
    background: linear-gradient(to bottom, #ffbf00 0%, #fa9f17 100%);
    font-weight: bold;
    margin-top: 20px;
}

input {
    border-radius: 15px;
    padding: 10px 20px;
    border: none;
    box-shadow: 2px 5px 23px -6px rgba(34, 60, 80, 0.57) inset;
    background: #bc3220;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #bc3220), color-stop(100%, #fa5846));
    background: -webkit-linear-gradient(top, #bc3220 0%, #fa5846 100%);
    background: linear-gradient(to bottom, #bc3220 0%, #fa5846 100%);
}

::placeholder {
    color: #ffffff;
}